.title {
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: #2E7D32;
    color: #fff;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.title a:hover {
    color: #eee;
}

.Login {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(#fff, #ccc);
    padding-bottom: 20px;
}

.Login .google-btn {
    border: none;
    background-color: #dd4b39;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.Login .google-btn:hover {
    background-color: #fff;
    color: #dd4b39;
}

.Login .logout-btn {
    border: none;
    background-color: #2E7D32;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.Login .logout-btn:hover {
    background-color: #fff;
    color: #2E7D32;
}

.NotFound {
    text-align: center;
}

.NotFound h2 {
    margin-top: 2rem;
    font-size: 32px;
    line-height: 60px;
}

.NotFound p {
    color: #777;
}

.add-article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    background-color: rgba(220, 220, 220, .2);
    border-radius: 10px;
    margin: 2rem;
}

.card h2 {
    background-color: #2E7D32;
    color: #fff;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 40px;
}

.add-article input, .add-article textarea {
    margin: .5rem;
    width: 95%;
    border: none;
    border-bottom: 3px solid #2E7D32;
    background-color: #eee;
    height: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.add-article textarea {
    height: 200px;
}

.add-article button {
    margin: .5rem;
    padding: .5rem;
    font-size: 15px;
    border-radius: 5px;
    background-color: #2E7D32;
    color: #fff;
}

.add-article button:focus {
    outline: none;
}

.add-article button:hover {
    border-color: #2E7D32;
    background-color: #fff;
    color: #2E7D32;
}

.post {
    margin: 1.2rem .8rem;
}

.post-title {
    font-size: 2.4rem;
    text-align: center;
}

.post-meta {
    margin-top: .5rem;
    font-size: .8rem;
    color: #444;
}

.post-content {
    margin-top: .8rem;
}
